.gallery .slide-content {
  background: #fff;
}

.gallery .slide-content-header {
  width: 200px;
  height: 250px;
  overflow: hidden;
  filter: grayscale(1);
}

.gallery .slide-img {
  filter: grayscale(1);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.gallery .slide-img img {
  position: relative;
  overflow: hidden;
}
