.back-btn {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5em 1em;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.back-btn a {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
}

.work-carousel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.slide > div {
  position: relative;
  width: 50%;
  height: 100%;
}

.slide-content-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0.5em;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  cursor: pointer;
}

.slide-content-header h1 {
  position: relative;
  font-family: "Romie Trial";
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
}

.slide-content-header h1 span {
  position: relative;
}

.slide-info {
  position: fixed;
  top: 0;
  left: 50%;
  padding: 1.25em 1em;
  z-index: 2;
}

.slide-info-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slide-info-row p {
  position: relative;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 120%;
}

.slide-info-row p:nth-child(1) {
  font-family: "Rommie Trial";
  font-style: italic;
  font-size: 11px;
  text-transform: capitalize;
}

.slide-index {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 1em;
  display: flex;
  gap: 10px;
}

.slide-index p,
.next-btn {
  flex: 1;
  font-size: 11px;
  font-weight: 500;
  line-height: 120%;
}

.next-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.5em;
  cursor: pointer;
}

.next-btn p {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .slide {
    flex-direction: column;
  }

  .slide > div {
    height: 50vh;
    width: 100%;
  }

  .slide-info {
    width: 100%;
    top: 50%;
    left: 0%;
    display: flex;
    justify-content: space-between;
  }

  .slide-info-row {
    width: 100%;
    flex: 1;
  }

  .slide-index {
    left: 0;
  }

  .next-btn {
    right: 0;
    padding: 1.5em 1em;
  }
}
